.post :hover::after {
  content: "";
}
.posts {
  flex-direction: row;
  gap: 32px;
}
.post {
  height: auto;
  cursor: pointer;
}
.post h4 {
  padding: 0;
  margin: 16px;
}
.post p {
  margin: 16px;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 12px;
  font-weight: 100;
}
.post > div {
  height: 213px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 320px;
  transition: 0.3s ease;
}
.post > div:hover {
  cursor: pointer;
  background-size: 110%;
  transition: 0.3s ease;
}
.post-img-4 {
  background-image: url(../img/blogPos-4.jpg);
}
.post-img-5 {
  background-image: url(../img/blogPos-5.jpg);
}
.post-img-6 {
  background-image: url(../img/blogPos-6.jpg);
}

@media screen and(min-width:1000px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: auto;
  }
  .post,
  .post > div {
    width: 250px;
  }
}
